body {
	padding:  100px 0;
	margin: 0;
}

.welcome {
	width: 100%;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 100px;
	color: red;
}

span {
	display: inline-block;
	font-size: 32px;
}

.welcome span {width: 300px;}

.userEntry {display:none;}

.userEntry div {text-align: center;}

.userEntry span {
	width: 400px;
	margin: 0 0 30px 100px;
}

input {
	font-size: 36px;
	margin-right: 20px;
	width:  350px;
}

button {
	display: inline-block;
	width: 200px;
	height: 42px;
	border: solid 3px black;
	border-radius: 5px;
	background-color: yellow;
	text-align: center;
	font-size: 32px;
	margin-top: 80px;
	margin-right: 30px;
}

.error {
	color: red;
	font-size: 32px; 
}

select {
	width: 200px;
	height: 40px;
	font-size: 28px;
}

option {font-size: 28px;}

td {
	border:  solid 1px black;
	text-align: center;
}